body{
    background-image: url(https://us.123rf.com/450wm/phokin/phokin1711/phokin171100023/89959510-fondo-abstracto-en-colores-pastel-de-la-textura-de-la-tela-de-brown-papel-pintado-o-lienzo-art%C3%ADstico.jpg?ver=6);
}
.div{
    margin: 100px;
    padding: 100px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow:7px 13px 37px rgb(146, 126, 116) ;
    text-align: center;
}
form{
    width: 50px;
    height: 50px;
    text-align:left;
}
nav{
    width: 1000px;
    height: 100px;

}
img{
    float: right;
}

