body{
    background-color: silver;
}
.forma{
    margin: 100px;
    padding: 100px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-shadow:7px 13px 37px rgb(218, 47, 5) ;
}
form{
    text-align: center;
}
nav{
        width: 1000px;
        height: 100px;
    }
img{
    float: right;
}